.Tutorial {
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 3.5em;
}

.Tutorial ::selection {
  background: var(--color1);
  color: var(--color7);
}

.Tutorial-text {
  clear: left;
  margin: 0 0 0 10vw;
  padding-right: 2em;
}

.Tutorial-wide {
  clear: left;
  padding-left: 10vw;
  padding-right: 2em;
  width: 100%;

  overflow: hidden;
}

.Tutorial-swatch {
  display: inline-block;
  width: 6vw;
  height: 6vw;
}

.Tutorial-page h1 {
  margin: 1em 0 0.25em;
}

.Tutorial-page p {
  margin: 0.5em 0 0.75em;
  clear: left;
}
.Tutorial-text p,
.Tutorial-text ul {
  max-width: 36em;
}

.Tutorial-page .ColorSpace {
  float: left;
}

.Tutorial-aside {
  display: block;
  margin-left: 600px;
  margin-bottom: 0.5em;
  max-width: 15em;
}
