.Tutorial-page {
  padding: 2em 0;
}

.Tutorial-page_inverse {
  background: var(--color7);
  color: var(--color0);
}

.Tutorial-page_inverse a {
  color: var(--color0);
}

.Tutorial-page_inverse ::selection {
  background: var(--color6);
  color: var(--color0);
}

.Tutorial-page_inverse_open {
  width: 100vw;
  padding: 0;
  border-style: solid;
  border-width: 30px 50vw;
  border-color: transparent var(--color7) var(--color7) transparent;
}

.Tutorial-page_inverse_close {
  width: 100vw;
  padding: 0;
  border-style: solid;
  border-width: 30px 50vw;
  border-color: var(--color7) var(--color7) transparent transparent;
}
