.InlineChip {
  display: inline-block;
  position: relative;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid;
  border-radius: 0.25em;
  margin: 0 1px -0.05em 0;
  outline: none;
}

.InlineChip-hover {
  display: none;
  position: absolute;
  z-index: 1;
  left: -6em;
  top: 1em;
}

.InlineChip:hover .InlineChip-hover,
.InlineChip:focus .InlineChip-hover {
  display: block;
}

.InlineChip .Chip {
  user-select: none;
}
