.Navigation-item {
  color: var(--color0);
  margin: 0.5em 0 0.5em 1.8em;
  float: left;
}

.Navigation-item a {
  color: var(--color1);
}

.Navigation-item.disabled span {
  color: var(--color2);
}

.Navigation-item.active span {
  color: var(--color0);
}

.Navigation-item:first-child {
  list-style: none;
  margin-left: 0;
}
